/* for custom.css file */

/* Featured collection */
.card__media {
    border: 1px solid #ffff;
    border-radius: 13px 13px 13px 13px !important;
}
/* PDP */
.product-media-container .media {
    border: 1px solid #ffff;
    border-radius: 13px 13px 13px 13px !important;
}
  
/* 1) Kill the grey edge from inner wrappers + overlays */
.product-card-wrapper .card__inner,
.product-card-wrapper .card__inner-color,
.product-card-wrapper  {
  box-shadow: none !important;
  outline: none !important;
  border: 0 !important;
}

/* This worked for BR&B for the grey border —  */
.global-media-settings {
    border: none !important;
}

/* Frame ONLY the actual featured product media */
.product__media img {
  border: 2px solid #b3261e;
  border-radius: 20px;
}
