# Add to footer.liquid and main-password-footer.liquid

<small class="copyright__content">
  &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}. Powered by <a href="https://www.warrenjames.org" target="_blank" style="text-decoration: none; font-weight: 900;">WARREN JAMES, INC.</a>
</small>



<small class="password__footer-caption password__footer-text">
  &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}. Powered by <a href="https://www.warrenjames.org" target="_blank" style="text-decoration: none; font-weight: 900;">WARREN JAMES, INC.</a>
</small>

# css to make the words bigger

.copyright__content {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}
