/* TYPEOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url("https://use.typekit.net/kzd8rfh.css");

@font-face {
   src: url("https://use.typekit.net/kzd8rfh.css");
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
 }
 @font-face {
   src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
  font-family: 'manrope';
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: 800;
 }

:root { 
  --font-body-family: mono, sans-serif !important;
  --font-heading-family: 'manrope', sans-serif !important; 
}
