/* Add to custom section on the homepage customizer */

.card__heading {
  font-size: 2.5rem;
}
.underline-links-hover:hover a {
  text-decoration: none;
}
.price {
    font-family: "trilby", serif;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}
